<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">5-day forecast for {{ fiveDaysForecast.locationName }}</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let forecast of fiveDaysForecast.forecasts">
                {{ forecast.date | date:'EEEE, LLL dd' }}:
                {{ forecast.condition }}
                - Min: {{ forecast.minTemp | temperature: temperatureUnit }}
                - Max: {{ forecast.maxTemp | temperature: temperatureUnit }}

                <rar-weather-icon style="text-align: right"
                                  [weather]="forecast.weather"
                                  size="small"></rar-weather-icon>
            </li>
        </ul>
    </div>
    <button class="btn btn-success"
            tabindex="0"
            id="mainPageBtn"
            (click)="onBackButtonClicked()">&lt; Back to main page</button>
</div>