<div class="container-fluid">

    <div class="well">
        <h2>Enter a zipcode: </h2>


        <div class="form-group" [ngClass]="{'has-error': zipCode.invalid }">
            <input type="text" class="form-control" id="zipCodeInput" placeholder="Zip code"
                [formControl]="zipCode">

            <ng-container *ngIf="zipCode.dirty">
                <span class="help-block" *ngIf=" zipCode.errors.required">
                    Please enter a zip code.
                </span>
                <span class="help-block" *ngIf="zipCode.errors.pattern">
                    The zip code is invalid (we accept 5 and 9 digits zip codes, with or without dashes).
                </span>
                <span class="help-block" *ngIf="zipCode.errors.notIncludedIn">
                    A location with this zip code has already been added.
                </span>
            </ng-container>

        </div>


        <button class="btn btn-primary" (click)="onAddLocationClicked()"
            [disabled]="zipCode.invalid">
            Add location
        </button>
    </div>

    <div>
        <div class="well">
            <div class="row">
                <rar-location-conditions class="col-md-6" *ngFor="let locationCurrentCondition of locationsConditions"
                    [temperatureUnit]="temperatureUnit" [currentCondition]="locationCurrentCondition"
                    (closeClicked)="onLocationCloseClicked(locationCurrentCondition)"
                    (fiveDaysForecastClicked)="onLocationFiveDaysForecastClicked(locationCurrentCondition)">
                </rar-location-conditions>
            </div>

        </div>
    </div>
</div>