<div class="container-fluid">

    <div class="well">
        <h2>Enter a zipcode: </h2>
        <input class="form-control"
               placeholder="zip code"
               type="text"
               id="locationInput"
               [formControl]="locationZipCodeFormControl">
        <br>
        <button class="btn btn-primary"
                (click)="onAddLocationClicked()">
            Add location
        </button>
    </div>

    <div>
        <div class="well flex">
            <rar-location-conditions *ngFor="let locationCurrentCondition of locationsConditions"
                                     [temperatureUnit]="temperatureUnit"
                                     [currentCondition]="locationCurrentCondition">
            </rar-location-conditions>
        </div>
    </div>
</div>