<div>
  <div class="well flex">
    <div>
      <h3>{{ currentCondition.locationName }} ({{ currentCondition.zipCode }})</h3>
      <h4>Current conditions: {{ currentCondition.condition }}</h4>
      <h4>Temperatures today:</h4>
      <p>
        Current {{ currentCondition.currentTemp | temperature: temperatureUnit }}
        - Max {{ currentCondition.maxTemp | temperature: temperatureUnit }}
        - Min {{ currentCondition.minTemp | temperature: temperatureUnit }}
      </p>
      <p>
        <button type="button" (click)="onFiveDaysForecastClicked()">
          Show 5-day forecast for {{ currentCondition.locationName }}
        </button>
      </p>
    </div>
    <div>
      <span class="close">×</span>
      <rar-weather-icon [weatherName]="currentCondition.weatherName"> </rar-weather-icon>
    </div>
  </div>
</div>