

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header" *ngIf="title">
                <button type="button" class="close" (click)="onCloseClicked()" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{title}}</h4>
            </div>

            <div class="modal-body">
                <p>{{ description }}</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onOkClicked()">OK</button>
            </div>

        </div>
    </div>
    